# Warehouse
WAREHOUSE_HOST=
WAREHOUSE_PORT=5432
WAREHOUSE_DB=
WAREHOUSE_USER=
WAREHOUSE_PASSWORD=

# Airflow
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW_UID=50000

# Sources
SALES_API_BASE_URL=
SALES_API_TOKEN=

# Environment: dev | staging | prod
APP_ENV=dev
